* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

a {
  text-decoration: none;
}

.home,
.services,
.events,
.sign-up,
.faq {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('images/img-home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.events {
  background-image: url('images/img-home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 100px;


  &:before {
    content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#242424,#242424);
        opacity: .6; 
  }

  &:after {
    content: "EVENTS";
    position: absolute;
    font-size: 100px;
    color: #fff;
  }
}

.events-body { 

  margin: auto;
  
  .header {
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
    max-width: fit-content;
    padding: 0.25rem;
    background-color: #FFC627;
  }

  .image {
    height: 50%;
    width: 50%;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.2s linear;
  }

  .image:hover {
    transform: scale(1.07);
  }

  .event {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 4rem;
    justify-content: center;
    align-items: center;

    /* opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility; */
  }

  /* .event.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  } */

  .race-name {
    text-decoration: none;
    color: #242424;
    margin-bottom: -4px;
  }

  .city {
    font-style: italic;
  }
}

.faq {
  background-image: url('images/img-home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 70px;
  justify-content: left;
}

faq.h1 {
  font-size: 10px;
}

.faq-body { 
  margin: auto;
  margin-top: 3rem;
  width: 70%;
  max-width: 850px;
  justify-content: center;

  .heading {
    font-size: 30px;
    margin-bottom: 0.5rem;
  }

  .paragraph {
    display: inline-block;
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 1.5rem;
    opacity: 0.8;
  }
}

.sign-up {
  background-image: url('images/img-home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

@media screen and (min-width: 769px) {
  .events-body {
    width: 70%;
  }
  .race-name {
    font-size: 50px;
  }
  .city, .date {
    font-size: 20px;
  }
  .header {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .events-body {
    width: 90%;
  }
  
  .race-name {
    font-size: 24px;
  }
  .city, .date {
    font-size: 14px;
  }
  .header {
    font-size: 30px;
  }
}